<footer class="site-footer">
  <div class="wrapper">
    <div class="site-footer__content">
      <a class="site-footer__logo" href="{{ "/" | relative_url }}">
          <svg width="16" height="32" viewBox="0 0 16 32" xmlns="http://www.w3.org/2000/svg"><path d="M0 8.664V32l16-21.585-.06-5.355L5.87 17.023 5.786 0" fill="#fff" fill-rule="evenodd"/></svg>
      </a>

      <div>
        <div class="site-footer__section">
          <h4 class="site-footer__label">Studio</h4>
          Via Verci 40, <br>
          36061 Bassano del Grappa (VI)
        </div> 

        <div class="site-footer__section">
          <h4 class="site-footer__label">Contacts</h4>
          Luca Toniolo <br>
          info@lucatoniolo.com <br>
          +39 3407909049
        </div>
      </div>
    </div>
  </div>
</footer>
