<footer class="site-footer">
  <div class="container">
    <div class="site-footer__content">
        <div class="site-footer__studio">
          <h4 class="site-footer__label">Studio</h4>
          Via Scomazzoni, 57<br>
          36063 Marostica (VI)
        </div>

        <div class="site-footer__contacts">
          <h4 class="site-footer__label">Contacts</h4>
          info(at)lucatoniolo(dot)com<br>
          M. +393407909049
        </div>
    </div>
  </div>
</footer>

<script src="{{ "/assets/main.js" | relative_url }}"></script>
