body {
  color: $text-color;
  font-family: $base-font-family;
  font-weight: 400;
  line-height: 1.35;
}

a {
  color: $text-color;
  text-decoration: none;
}

img {
    max-width: 100%;
}

button {
  line-height: inherit;
}
