html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $text-color;
  font-family: $base-font-family;
  font-weight: 400;
  line-height: 1.35;
}

a {
  color: $text-color;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
    max-width: 100%;
}

button {
  line-height: inherit;
}

h1, h2, h3, h4 {
  margin: 2em 0 0.125em;
}