<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "en" }}'>

  {% include head.html %}

  <body class="{{ page.title | downcase }}-page">

    {% include header.html %}

    <main class="default-content" aria-label="Content">
      <div class="container">
        {% if page.images %}
            {{ page.images }}
        {% endif %}

        {% if page.text %}
            {{ page.text }}
        {% endif %}

        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
