<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "en" }}'>

  {% include head.html %}

  <body class="{{ page.title | downcase }}-page">

    {% include header.html %}

    <main class="default-content" aria-label="Content">
      <div class="container">
        <div class="page">
            {% assign title = page.title |downcase|strip %}
            {% if page.title and title != 'about' %}
                <hgroup class="page__header">
                    <h1 class="page__title">{{ page.title }}</h1>
                    {% if page.category %}
                        <h3 class="page__category">{{ page.category }}</h3>
                    {% endif %}
                </hgroup>
            {% endif %}

            {% if page.images %}
                <div class="page__pics">
                    {% for item in page.images %}
                        <div class="page__pic">
                            <img src="https://res.cloudinary.com/rzecchini/image/fetch/w_600,f_auto/{{ item.picture| absolute_url }}" srcset="https://res.cloudinary.com/rzecchini/image/fetch/w_600,f_auto/{{ item.picture| absolute_url }} 600w, https://res.cloudinary.com/rzecchini/image/fetch/w_800,f_auto/{{ item.picture| absolute_url }} 800w, https://res.cloudinary.com/rzecchini/image/fetch/w_1000,f_auto/{{ item.picture| absolute_url }} 1000w" sizes="(min-width:1000px) 50vw, 100vw" alt="Picture from the work {{ page.title }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {{ content }}
        </div>

        <h4 class="latest-works">Latest works</h4>

        <section class="works works--index">
          {% assign sorted_works = site.works | sort: 'priority' %}
          {% for work in sorted_works %}
              {% if work.title %}
                  {% include work.html url=work.url title=work.title category=work.category poster=work.poster index=true %}
              {% endif %}
          {% endfor %}
        </section>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
