<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
    {% include head.html %}

    <body>
        {% include header.html %}

        <main class="home-content" aria-label="Content">
            <section class="works padding">
                <div class="Wallop">
                  <div class="Wallop-list">
                    {% for work in site.works %}
                      {% if work.title and work.home %}
                        <div class="Wallop-item">
                          {% include work.html url=work.url title=work.title category=work.category poster=work.poster %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>

                <a class="works__link" href="{{ '/works' | relative_url }}">+ works</a>
            </section>

            <section class="all-works">
              {% assign see_works = 0 %}
              {% for work in site.works %}
                {% if work.home == false and see_works < 2 %}
                  <div class="all-works__item" style="background-image:url('https://res.cloudinary.com/rzecchini/image/fetch/w_500/{{ work.poster | absolute_url }}')"></div>
                  {% assign see_works = see_works | plus: 1 %}
                {% endif %}
              {% endfor %}
              <a class="all-works__label" href="{{ '/works' | relative_url }}"><span>See all works</span></a>
            </section>

            <section class="hello">
                <h1 class="hello__title">Studio Luca Toniolo</h1>
                <h2 class="hello__sub">Architecture Interiors Research</h2>
                <div>
                  <span class="hello__clients-excerpt">
                      {% assign sorted_clients = site.clients | sort: 'priority' %}
                      {% for client in sorted_clients %}
                          {% if forloop.index < 5 %}
                              {% if client.work_link and client.work_link != '' %}
                                      <a class="hello__client-link" href="{{ client.work_link | relative_url }}">{{ client.title }},</a>
                                  {% else %}
                                      {{ client.title }},
                              {% endif %}
                          {% endif %}
                      {% endfor %}
                  </span>
                  <span class="hello__clients-all js-clients-all" style="display:none">
                      {% for client in sorted_clients %}
                          {% if forloop.index >= 5 %}
                              {% if client.work_link and client.work_link != '' %}
                                      <a class="hello__client-link" href="{{ client.work_link | relative_url }}">{{ client.title }}</a>{% if forloop.last != true %},{% endif %}
                                  {% else %}
                                      {{ client.title }}{% if forloop.last != true %},{% endif %}
                              {% endif %}
                          {% endif %}
                      {% endfor %}
                  </span>
                </div>
                <button class="hello__btn js-clients-btn">+ clients</button>
            </section>

            <section class="about">
                <a class="about__link" href="{{ '/about' | relative_url }}">+ About Luca Toniolo</a>
            </section>
        </main>

        {% include footer.html %}
    </body>
</html>
