<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
    {% include head.html %}

    <body>
        {% include header.html %}

        <main class="page-content" aria-label="Content">



            <section class="works">
                <div class="Wallop">
                  <div class="Wallop-list">
                  {% for work in site.works %}
                      {% if work.title %}
                          {% if forloop.index < 5 %}
                            <div class="Wallop-item">
                            {% include work.html url=work.url title=work.title category=work.category poster=work.poster %}
                            </div>
                          {% endif %}
                      {% endif %}
                  {% endfor %}
                  </div>
                </div>
            </section>

            <section class="hello">
                <h1 class="hello__title">Studio Luca Toniolo</h1>
                <h2 class="hello__sub">Architecture Interiors Research</h2>
                <span class="hello__clients-excerpt">
                    {% assign sorted_clients = site.clients | sort: 'priority' %}
                    {% for client in sorted_clients %}
                        {% if forloop.index < 2 %}
                            {% if client.work_link %}
                                    <a href="{{ client.work_link | relative_url }}">{{ client.title }}</a>
                                {% else %}
                                    {{ client.title }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </span>
                <span class="hello__clients-all js-clients-all" style="display:none">
                    {% for client in sorted_clients %}
                        {% if forloop.index >= 2 %}
                            {% if client.work_link %}
                                    <a href="{{ client.work_link | relative_url }}">{{ client.title }}</a>
                                {% else %}
                                    {{ client.title }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </span>
                <button class="hello__btn js-clients-btn">+ Clients</button>
            </section>

            <section class="about js-about">
                <a class="about__link" href="{{ '/about' | relative_url }}">+ About Luca Toniolo</a>
            </section>
        </main>

        {% include footer.html %}
    </body>
</html>
