<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    {% include header.html %}

    <main aria-label="Content">
      <section class="works works--index">
        {% for work in site.works %}
            {% if work.title %}
                {% include work.html url=work.url title=work.title category=work.category index=true %}
            {% endif %}
        {% endfor %}
      </section>
    </main>

    {% include footer.html %}
  </body>
</html>
